{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          As a professional web development and design specialist, I combine technical expertise with creative vision to craft visually stunning, user-centric digital experiences. Proficient in modern technologies like HTML5, CSS3, JavaScript (ES6+), and frameworks such as React, Flask, and Bootstrap, I architect responsive, performant websites and web applications tailored to client needs. My process emphasizes clean code, intuitive UI/UX design, and cross-browser compatibility, ensuring seamless functionality across devices. With a focus on accessibility, scalability, and SEO optimization, I collaborate closely with stakeholders to transform ideas into dynamic solutions—whether building interactive e-commerce platforms, content-rich blogs, or custom web tools—while prioritizing deadlines, performance metrics, and long-term maintainability.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
